<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>IniciarSesion</servlet-name>
        <servlet-class>Usuario.IniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>Usuario.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarObjetivo</servlet-name>
        <servlet-class>Objetivo.EliminarObjetivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearObjetivo</servlet-name>
        <servlet-class>Objetivo.CrearObjetivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarObjetivo</servlet-name>
        <servlet-class>Objetivo.ModificarObjetivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearEstrategia</servlet-name>
        <servlet-class>Estrategia.CrearEstrategia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarEstrategia</servlet-name>
        <servlet-class>Estrategia.EliminarEstrategia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarEstrategia</servlet-name>
        <servlet-class>Estrategia.ModificarEstrategia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Monedas</servlet-name>
        <servlet-class>Estrategia.Monedas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IniciarSesion</servlet-name>
        <url-pattern>/IniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Registrarse</servlet-name>
        <servlet-class>Usuario.Registrarse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registrarse</servlet-name>
        <url-pattern>/Registrarse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarObjetivo</servlet-name>
        <url-pattern>/EliminarObjetivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearObjetivo</servlet-name>
        <url-pattern>/CrearObjetivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarObjetivo</servlet-name>
        <url-pattern>/ModificarObjetivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearEstrategia</servlet-name>
        <url-pattern>/CrearEstrategia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarEstrategia</servlet-name>
        <url-pattern>/EliminarEstrategia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarEstrategia</servlet-name>
        <url-pattern>/ModificarEstrategia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Monedas</servlet-name>
        <url-pattern>/Monedas</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
